@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}

body {
  cursor: url('../../public/arrowhead.png'), auto;
}

h2 {
  margin: 0;
  color: var(--accent);
  top: 80%;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
}

section {
  scroll-snap-align: end
}

.project-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 500px;
}

.project-section > div {
  width: 300px;
  height: 400px;
  position: relative;
  max-height: 90vh;
  margin: 20px;
  background: var(--white);
  overflow: hidden;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 500px) {
  h2 {
    top: 50%;
    left: calc(50% + 170px)
  }

  .project-section > div {
    width: 400px;
    height: 500px;
  }
  
}