@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aesthetic Regular";
  src: url("../fonts/Aesthetic-Regular-d026.woff2") format("woff2");
}

@font-face {
  font-family: "Wasted Vindey";
  src: url("../fonts/Wasted-Vindey.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}

h2 {
  margin: 0;
  color: var(--accent);
  top: 80%;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
}

section {
  scroll-snap-align: end;
}

@media (min-width: 500px) {
  h2 {
    top: 50%;
    left: calc(50% + 170px);
  }
}
